.navigation {
  position: fixed;
  top: 10px;
  right: 30px;
  transition: all 1s;
  z-index: 300;

  &__opener {
    animation: comein 0.25s linear;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: all 1s;

    &:hover {
      transform: scaleY(2);
    }
  }

  &__closer {
    animation: comein 1.5s linear;
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: all 1s;
    &:hover {
      box-shadow: 5px 5px 5px grey;
      transform: scale(1.2);
    }
  }

  &__navbar {
    height: 75vh;
    width: 10vw;
    z-index: 300;
  }

  &__navlist {
    left: 50%;
    list-style: none;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &__item {
    animation: swoosh 1s linear;
    margin: 5rem auto;
  }

  &__links {
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s;

    &:hover {
      box-shadow: 5px 5px 5px grey;
      padding: 5px;
    }
  }
}
///////////////////////////
.circle_nav {
  position: fixed;
  top: 10px;
  left: 30px;
  transition: all 1s;
  z-index: 300;

  &__opener_closed {
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: all 1s;
    z-index: 300;

    &:hover {
      transform: scaleY(2);
    }
  }

  &__closer_open {
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: all 1s;
    z-index: 300;
    &:hover {
      transform: scale(1.5);
    }
  }

  &__icon {
    height: 3vh;
    width: 3vw;
  }

  &__scale {
    :hover {
      background-color: lightyellow;
      height: 50px;
      width: 50px;
    }
  }

  &__links {
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s;
    :hover {
      box-shadow: 5px 5px 5px black;
      transform: scale(1);
    }
  }

  &__home_start {
    display: none;
  }

  &__vid_start {
    display: none;
  }

  &__cal_start {
    display: none;
  }

  &__reg_start {
    display: none;
  }

  &__home_closed {
    animation: homeIconReverse 0.8s linear forwards;
    background-color: lightskyblue;
    border-radius: 50%;
    height: 30px;
    position: fixed;
    top: 5px;
    left: 120px;
    transition: all 1s;
    width: 30px;
  }

  &__vid_closed {
    animation: vidIconReverse 0.8s linear forwards;
    background-color: lightskyblue;
    border-radius: 50%;
    height: 30px;
    position: fixed;
    top: 50px;
    left: 105px;
    width: 30px;
    transition: all 1s;
  }

  &__cal_closed {
    animation: vidIconReverse 0.8s linear forwards;
    background-color: lightskyblue;
    border-radius: 50%;
    height: 30px;
    position: fixed;
    top: 70px;
    left: 60px;
    width: 30px;
    transition: all 1s;
  }

  &__reg_closed {
    animation: registerIconReverse 0.8s linear forwards;
    background-color: lightskyblue;
    border-radius: 50%;
    position: fixed;
    top: 75px;
    left: 10px;
    height: 30px;
    width: 30px;
    transition: all 1s;
  }

  &__home_open {
    animation: homeIcon 0.8s linear;
    background-color: lightskyblue;
    border-radius: 50%;
    height: 30px;
    position: fixed;
    top: 5px;
    left: 120px;
    transition: all 1s;
    width: 30px;
  }

  &__vid_open {
    animation: vidIcon 0.8s linear;
    background-color: lightskyblue;
    border-radius: 50%;
    position: fixed;
    top: 50px;
    left: 105px;
    height: 30px;
    width: 30px;
    transition: all 1s;
  }

  &__cal_open {
    animation: vidIcon 0.8s linear;
    background-color: lightskyblue;
    border-radius: 50%;
    height: 30px;
    position: fixed;
    top: 70px;
    left: 60px;
    width: 30px;
    transition: all 1s;
  }

  &__reg_open {
    animation: registerIcon 0.8s linear;
    background-color: lightskyblue;
    border-radius: 50%;
    position: fixed;
    top: 75px;
    left: 10px;
    height: 30px;
    width: 30px;
    transition: all 1s;
  }
}

.cal {
  height: 200vh;
  text-align: center;
}

.home {
  height: 200vh;
  text-align: center;
}

.vid {
  height: 200vh;
  text-align: center;
}

.reg {
  height: 200vh;
  text-align: center;
}

@keyframes comein {
  0% {
    transform: translateX(1000%);
  }
  50% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes swoosh {
  0% {
    transform: translateY(-1000%);
  }
  20% {
    transform: translateY(-800%);
  }
  40% {
    transform: translateY(-600%);
  }
  60% {
    transform: translateY(-400%);
  }
  80% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0%);
  }
  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}

@keyframes homeIcon {
  0% {
    transform: translateX(-200%);
  }

  90% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes homeIconReverse {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(-1000%);
    opacity: 0;
  }
}

@keyframes vidIcon {
  0% {
    transform: translateX(-150%) translateY(-150%);
  }

  90% {
    transform: translateX(10%) translateY(10%);
  }

  100% {
    transform: translateX(0%) translateY(0%);
  }
}

@keyframes vidIconReverse {
  0% {
    transform: translateX(0%) translateY(0%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(-1000%) translateY(-1000%);
    opacity: 0;
  }
}

@keyframes registerIcon {
  0% {
    transform: translateY(-100%);
  }

  90% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes registerIconReverse {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(-1000%);
    opacity: 0;
  }
}
